body {
    font-family: Sans-Serif;
    font-size: 16pt;
    max-width: 80ch;
    margin: 0 auto;   /* Center horizontally */
    padding: 0.5em;
}
h1 {font-size: 130%;}
h2 {font-size: 110%;}
td, td {padding-left: 0.5em; padding-right: 0.5em;
    padding-top: 0.15em; padding-bottom: 0.15em;
    border: 1.5px solid #ccc
}
.stuname {
    vertical-align: center;
}
.stubio {
    vertical-align: top;
}
.noborder {
    border: 0px;
}
/* Use a larger font, only on mobile devices.  Thanks to https://habr.com/en/sandbox/163605/ */
@media (pointer: coarse)  {
    /* mobile device */
    body {
        font-size: 24pt;
    }
    .stuname {
        font-size: 30pt;
    }
    img {
        zoom: 175%;
    }
}

